.feedback-container {
  padding: 40px;
  min-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgb(254, 254, 150);
  /* border-radius: 8px;
  border: 2px solid rgb(166, 175, 184); */
}

.counter-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.hw4-button-container {
  width: 200px;
}

.resetButton-container {
  width: 100%;
}

.result-container {
  font-size: 30px;
  font-weight: bold;
  color: rgb(250, 62, 222);
}
